.comment_item {
    margin-left: 10px;
}

.comment_item img {
    float: left;
    margin-top: 10px;
}

.comment_item .comment_data {
    float: left;
    margin: -10px 10px 0 5px;
    width: 700px;
    padding: 0;
}

.comment_name {
    color:#3b5998;
    font-weight:bold;
}

.comment_btn {
    float: right;
    top: 30px;
}

#comment_form_div textarea {
    width: 740px;
    height: 100px;
}

.comment_data p {
    padding: 0 0 0 5px;
}