{% extends "base.html" %}
{% load i18n %}
{% load images %}
{% load comments %}
{% load security %}
{% load text %}
{% load filetransfers %}
{% load updates %}
{% load messages %}
{% load filetransfers %}
{% load media %}

{% block css %}
    {% include_media 'internal_detail.css' %}
{% endblock %}

{% block preload_js %}
    {% include_media 'internal_detail.js' %}
{% endblock %}

{% block jquery %}
    {{ block.super }}
    {% if user.is_authenticated %}
    $('#comment_form_div').hide();
    $(".comment_btn").click(function(){
        $('#comment_form_div').slideDown("slow");
        $(".comment_btn").hide();
        $('html, body').animate({
            scrollTop: $("#comment_form_div").offset().top
        }, 1000);
    });

    $('#send_attachment_form').ajaxForm({
        success: function(responseText, statusText, xhr, $form) {
            var result = eval(responseText)['result'];
            $('#field_attachment_id').val(result['id']);
            $('#id_file').val('');
            $('#send_msg_form').submit();
        },
        dataType: "json",
        timeout:   60000
    });

    $('#post_msg_btn').click(function(){
        $('#send_msg_form').submit();
    });
    $('#send_msg_form').submit(function(){
        if ($('#send_msg_dlg').validationEngine('validate')) {
            $('#msg-dialog-modal').dialog({
                height: 140,
                modal: true,
                autoOpen: true,
                zIndex: 3000,
                closeOnEscape: false,
                open: function(event, ui) { $(".ui-dialog-titlebar-close").hide(); }
            });

            if ($('#id_file').val() != null && $('#id_file').val() != '') {
                $('#send_attachment_form').submit();
                return false;
            }

            return true;
        }

        return false;
    });


    {% endif %}
    //Carregamentos dinamicos
    $('#updates_area').load('{% url portal.institutions.views.get_updates institution.slug %}', null, function(){
        $('#updates_area').css('display', '');
    });
    $('#teachers_list').load('{% url portal.institutions.views.get_teachers institution.slug %}', null, function(){
        $('#teachers_list').css('display', '');
    });
    $('#students_list').load('{% url portal.institutions.views.get_students institution.slug %}', null, function(){
        $('#students_list').css('display', '');
    });

    {% if institution.feed_url %}
    $('#news_area').load('{% url portal.institutions.views.get_news institution.slug 0 3 %}', null, function(){
        $('#news_area').css('display', '');
        $('#news_list img').each(function(){resize_img_fn($(this));});
    });
    {% endif %}

    {% if user.is_authenticated %}
    $('#send_msg_dlg').dialog({
        width: 450,
        height: 300,
        modal: true,
        resizable: false,
        autoOpen: false
    });
    $('#send_msg_dlg').validationEngine();
    $('#send_msg_btn').click(function(){
        $('#send_msg_dlg').dialog('open');
    });
    {% if_is_owner institution %}
    $('#change_image_dialog').dialog({
        height: 260,
        width: 440,
        modal: false,
        autoOpen: false
    });

    $('#dialog-modal').dialog({
        height: 140,
        modal: true,
        autoOpen: false
    });

    $('#image_wrapper_div').mouseover(function(){
        $('#change_image_div').css('top', '10px');
    });
    $('#image_wrapper_div').mouseout(function(){
        $('#change_image_div').css('top', '-1000px');
    });

    $('#change_image_div a').click(function(event) {
        $('#change_image_dialog').dialog('open');
        event.preventDefault();
    });
    $('#picture_field').change(function(){
        $('#dialog-modal').dialog('open');
        $('#picture_img').attr("src", "{% media_url 'images/please_wait.gif' %}");
        $('#send_picture_form').submit();
        return false;
    });
    $('#send_picture_form').ajaxForm({
        success: function(responseText, statusText, xhr, $form) {
            var result = eval(responseText)['result'];
            $('#picture_id_hidden').val(result['picture_id']);
            $('#picture_img').attr("src", "/image/" + result['thumb_id'] + "/");
            $('#send_photo_btn').show();
            $('#dialog-modal').dialog('close');
        },
        dataType: "json",
        timeout:   60000
    });
    $('#save_picture_form').ajaxForm({
        success: function(responseText, statusText, xhr, $form) {
            var result = eval(responseText)['result'];
            $('#profile_picture_img').attr("src", "/image/" + result['thumb_id'] + "/");
            $('#profile_picture_thumb_img').attr("src", "/image/" + result['thumb_small_id'] + "/");
            $('#change_image_dialog').dialog('close');
            $('#dialog-modal').dialog('close');
        },
        dataType: "json",
        timeout:   60000
    });
    $('#send_photo_btn').click(function(event){
        $('#dialog-modal').dialog('open');
        $('#profile_picture_img').attr("src", "{% media_url 'images/please_wait.gif' %}");
        $('#save_picture_form').submit();
        return false;
    });
    {% endif_is_owner %}
    {% endif %}
    {% if institution.twitter_id %}
        $('#twitter_container').twit('{{ institution.twitter_id }}', {
          limit: 3,
          label: 'Twitter',
          title: 'My tweets'
        });
    {% endif %}
{% endblock %}

{% block options %}
    {% include "institutions/options_box.html" %}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="message_buttons">
            <button id="send_msg_btn"><img src="{% media_url 'images/icons/email.png' %}"/> Enviar mensagem</button>
        </div>
    {% endif %}

    <h1 style="font-size:20px;padding:5px;">{{ institution.name }}</h1>
    <div class="content_box">
        <h2>{% trans "Description" %}</h2>
        {% autoescape off %}
        <p>{{ institution.description|break_text:95|linebreaksbr|safe|escape }}</p>
        {% endautoescape %}
    </div>
    <br/>

    <div class="content_box" id="messages_area" style="display:none">
        {% comment %}
        <h2>Últimas Mensagens</h2>
        {% render_message_list for institution %}
        {% endcomment %}
    </div>

    <div class="content_box" id="updates_area" style="display:none">
        {% comment %}<h2>Atualizações</h2>{% endcomment %}
    </div>

    {% if albums %}
    <div class="content_box">
        <h2>
            {% trans "Albums" %}
            ({% blocktrans count photo_count as counter %}one picture{% plural %}{{ counter }} pictures{% endblocktrans %})
        </h2>
        <ul class="item_list">
        {% for album in albums %}
            <li>
                <a href="{% url portal.album.views.detail institution.get_class_name institution.slug album.id %}">
                    <img src="{{ album.cover|thumbnail:"100x100" }}"/>
                    <p>{{ album.title }}</p>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <br/>
    {% endif %}

    {% if files %}
        <div id="files_area" class="content_box">
            <h2>Arquivos</h2>
            <ul style="margin: 5px 0px 5px 10px;">
            {% for file in files %}
                {% url portal.files.views.download file.id as fallback_url %}
                <li>
                    <a href="{% firstof upload.file|public_download_url fallback_url %}">
                        <img src="{% media_url 'images/icons/folder.png' %}"/>&nbsp;
                        <span style="position:relative;top:-3px;">{{ file.description|safe|escape }}
                            <i>(
                                {{ file.file.size|sizify }}
                                postado há {{ file.date_published|timesince }}
                                {% if_is_owner institution %}, baixado {{ file.downloads }} vez{{ file.downloads|pluralize:"es" }}{% endif_is_owner %}
                            )</i>
                        </span>
                    </a>
                    {% if_is_owner institution %}
                    &nbsp;<a href="{% url portal.files.views.delete file.id institution.get_absolute_url %}"><img src="{% media_url 'images/icons/cross.png' %}"/></a>
                    {% endif_is_owner %}
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if institution.course_set %}
    <div id="course_box" class="content_box">
        <h2>
            {% trans "Courses" %}
            ({% blocktrans count institution.course_set.count as counter %}one course{% plural %}{{ counter }} courses{% endblocktrans %})
        </h2>
        <ul class="item_list">
        {% for course in institution.course_set.all %}
            <li>
                <a href="{% url portal.courses.views.detail institution.slug course.slug %}">
                    {% if course.picture %}
                    <img src="{{ course.picture|thumbnail:"50x50" }}"/>
                    {% else %}
                    <img src="{% media_url 'images/books.png' %}" width="50px" height="50px"/>
                    {% endif %}
                    <p>{{ course.name }}</p>
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
    <br/>
    {% endif %}

    <div id="teachers_list" class="content_box" style="display:none">
        <h2><img src="{% media_url 'images/please_wait.gif' %}"/> {% trans "Loading the teachers ..." %}</h2>
    </div>

    <div id="students_list" class="content_box" style="display:none">
        <h2><img src="{% media_url 'images/please_wait.gif' %}"/> {% trans "Loading the students ..." %}</h2>
    </div>
    <br/>

    {% if institution.feed_url %}
    <div id="news_area" class="content_box" style="display:none">
    </div>
    {% endif %}
    
    <div id="comments_area" class="content_box">
        {% get_comment_count for institution as comment_count %}
        <h2>
            {% trans "Comments" %}
            ({% blocktrans count comment_count as counter %}one comment{% plural %}{{ counter }} comments{% endblocktrans %})
        </h2>
        {% if comment_count > 0 %}
            {% if user.is_authenticated %}
            <button class="comment_btn">{% trans "Make Your Comment" %}</button>
            {% endif %}
            {% render_comment_list for institution %}
        {% else %}
            <p>
                {% trans "There are no comments about this institution." %}
                {% if user.is_authenticated %}
                <br/>
                {% trans "Be the first to say something:" %}
                {% endif %}
            </p>
        {% endif %}

        {% if user.is_authenticated %}
            <button class="comment_btn">{% trans "Make Your Comment" %}</button>
            <br/><h1>&nbsp;</h1>
            <div id="comment_form_div" title="{% trans "Your Comment" %}">
                {% render_comment_form for institution %}
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block page_end %}
    {% if user.is_authenticated %}
    {% if_is_owner institution %}
    <div id="change_image_dialog" title="Mudando a sua imagem ...">
        <div class="upload_photo_div"   >
            {% if picture %}
                <img id="picture_img" src="{{ picture|thumbnail:"200x200" }}"/>
            {% else %}
                <img id="picture_img" src="{% media_url 'images/genericFace.gif' %}" alt="No Picture"/>
            {% endif %}

            <button id="select_photo_btn" class="sexybutton sexysimple sexyorange">Selecionar Foto</button>
            <button id="send_photo_btn"   class="sexybutton sexysimple sexyorange">Enviar</button>

            <form onsubmit="return false;" id="send_picture_form" enctype="multipart/form-data" action="{% url portal.accounts.views.set_picture %}">
                {% csrf_token %}
                <input type="file" name="picture" id="picture_field"/>
            </form>

            <div class="clear"/>
        </div>
        <form style="position:fixed;top:-1000px" id="save_picture_form" enctype="multipart/form-data" action="{% url portal.institutions.views.save_picture institution.slug %}">
            {% csrf_token %}
            <input type="hidden" name="picture_id" id="picture_id_hidden" />
        </form>
    </div>
    <div id="dialog-modal" title="Enviando a imagem ..." style="display:none;">
	    <h1 style="text-align:center;">Por favor aguarde ...</h1>
        <span style="position: relative; left: 50%; margin-left: -24px;"><img src="{% media_url 'images/please_wait.gif' %}"/></span>
    </div>
    {% endif_is_owner %}

    <div id="send_msg_dlg" title="Nova mensagem">
        <table>
            <tbody>
                <form id="send_msg_form" action="{% url portal.messages.views.post_message %}" method="POST">
                    {% csrf_token %}
                    {{ msg_form }}
                    <input type="hidden" id="field_attachment_id" name="attachment_id"/>
                </form>
                <tr id="attachment_list_row" style="display:none;">
                    <th><label>Attachments</label></th>
                    <td id="attachment_list_col">
                    </td>
                </tr>
                <form id="send_attachment_form" onsubmit="return false;" action="{{ upload_url }}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% render_upload_data upload_data %}
                    {{ attach_form }}
                </form>
                <tr>
                    <th>&nbsp;</th>
                    <td class="button_row" id="post_msg_btn">
                        <input type="submit" class="sexybutton sexysimple sexyorange" value="Enviar"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="msg-dialog-modal" title="Enviando a mensagem ..." style="display:none;">
        <h1 style="text-align:center;">Por favor aguarde ...</h1>
        <span style="position: relative; left: 50%; margin-left: -24px;"><img src="{% media_url 'images/please_wait.gif' %}"/></span>
    </div>
    {% endif %}
    <div id="view_msg_dlg" style="display:none">
        <p style="text-align:center;"><img src="{% media_url 'images/please_wait.gif' %}"/></p>
        <h1 style="text-align:center;">Carregando a sua mensagem ...</h1>
        <h2 style="text-align:center;">Por favor aguarde</h2>
    </div>
{% endblock %}
