{% extends "form.html" %}
{% load i18n %}
{% load images %}
{% load media %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#dialog-modal').dialog({
                height: 140,
                modal: true,
                autoOpen: false
            });

            $('#inst_send_picture_form').ajaxForm({
                success: function(responseText, statusText, xhr, $form) {
                    var result = eval(responseText)['result'];
                    $('#picture_id_hidden').val(result['picture_id']);
                    $('#picture_img').attr("src", "/image/" + result['thumb_id'] + "/");
                    $('#dialog-modal').dialog('close');
                },
                error: function() {
                    {% if picture %}
                        $('#picture_img').attr("src", "{{ picture|thumbnail:"200x200" }}");
                    {% else %}
                        $('#picture_img').attr("src", "{% media_url 'images/genericFace.gif' %}");
                    {% endif %}
                    $('#dialog-modal').dialog('close');
                    alert('Ocorreu um erro no envio da sua imagem.\nProvavelmente o arquivo enviado não é uma imagem válida ou é muito grande.');
                },
                dataType: "json",
                timeout:   60000
            });

            $('#institution_picture_field').change(function(){
                $('#dialog-modal').dialog('open');
                $('#picture_img').attr("src", "{% media_url 'images/please_wait.gif' %}");
                $('#inst_send_picture_form').submit();
                return false;
            });
        });
    </script>
{% endblock %}

{% block content %}
    {{ block.super }}
    <div id="dialog-modal" title="Enviando a imagem ...">
        <h1 style="text-align:center;">Por favor aguarde ...</h1>
        <span style="position: relative; left: 50%; margin-left: -24px;"><img src="{% media_url 'images/please_wait.gif' %}"/></span>
    </div>
    <form id="inst_send_picture_form" enctype="multipart/form-data" action="{% url portal.accounts.views.set_picture %}">
        {% csrf_token %}
        <input type="file" name="picture" id="institution_picture_field" />
    </form>
{% endblock %}

{% block form_attributes %}enctype="multipart/form-data"{% endblock %}

{% block pre_form_fields %}
    <input type="hidden" name="picture_id" id="picture_id_hidden"/>
    <div class="content_box">
        <h2>Imagem da Instituição</h2>
        <div class="upload_photo_div">
            {% if picture %}
                <img id="picture_img" src="{{ picture|thumbnail:"200x200" }}"/>
            {% else %}
                <img id="picture_img" src="{% media_url 'images/genericFace.gif' %}" alt="No Picture"/>
            {% endif %}
            <button id="select_photo_btn">Selecionar Foto</button>
            <div class="clear"/>
        </div>

    </div>
{% endblock %}

{% block form_title %}<h2>Dados da Instituição</h2>{% endblock %}