<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Portal Sala de Aula</title>
</head>
<body>
    <h1>Olá, temos uma nova atualização para você:</h1>
    <p>{{ mensagem|escape|safe|linebreaksbr }}</p>
    <p><a href="{{ link }}">Clique aqui para visualizar esta atualização.</a></p>
    <hr/>
    <span style="text-align:center;"><a href="http://www.portalsaladeaula.com">Portal Sala de Aula 2011 - Todos os Direitos Reservados</a></span>
</body>
</html>